/* Default Scrollbars*/
div.table-responsive::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 6px;
}
div.table-responsive::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  border-radius: 40px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
div.table-responsive::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  border-radius: 40px;
  background-color: #888;
  outline: 1px solid slategrey;
}
/* End of Default Scrollbars*/

a {
  color: inherit;
  text-decoration: inherit;
}
.app-header-wrapper {
  height: 70px;
}
.user-post-content {
  padding: 0 10px 0 10px !important;
}
.user-post-actions {
  padding: 0 10px 10px 10px !important;
}
.user-post-header {
  padding: 10px 10px 0 10px !important;
}
.user-post-content img {
  max-width: 100%;
}
.fw {
  width: 100%;
}